<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>

<main>
<div class="container text-center">
<div class="row"></div>
    <h1 class="display-1">Node Blog</h1>
     <small class="text-muted">Powered by Node.JS</small>

     <h3 class="text-primary">Get Started Blogging:</h3>
     <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

<form action="/submit" method="post">
<div class="form-group row">
  <label for="example-username-input" class="col-xs-2 col-form-label">Name</label>
  <div class="col-xs-10">
    <input class="form-control" type="username" placeholder="Enter Display Name" id="example-username-input">
  </div>       
  </div> 
<div class="form-group row">
  <label for="example-email-input" class="col-xs-2 col-form-label">Email</label>
  <div class="col-xs-10">
    <input class="form-control" type="email" placeholder="exampleuser@example.com" id="example-email-input" required>
  </div>
</div>
<div class="form-group row">
  <label for="example-password-input" class="col-xs-2 col-form-label">Password</label>
  <div class="col-xs-10">
    <input class="form-control" type="password" placeholder="******" id="example-password-input" required>
  </div>
  <div class="form-group row">

  <hr style="visibility: hidden;">
    <hr style="visibility: hidden;">
      <hr>

  <div class="col-xs-5 col-sm-12 text-center">
    <button type="button" class="btn btn-default">Sign Up</button>
  </div>
  </div>
</div>
</form>
          
          
        
        </div>


    </div>
</div>
  <div class="col-sm-2"></div>

</main>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>