<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>

    <main>

        <div class="container text-center">
            <div class="row">
                <h1>Edit Article</h1>
            </div>
        </div>

        <% include ../partials/form %>


            <hr>
            </div>
    </main>

    <script src="/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('articlebody', {
            customConfig: '/ckconfig.js'
        });
    </script>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>